@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
.container{
    position: absolute;
    display: flex;
    height: 12vh;
    width: 100%;
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-family: 'orbitron';
    z-index: 3;
    text-shadow: 1px 1px red;
}
.container h3{
    margin-right: auto;
}
.container a{
    margin-top: 40px;
    margin-right: 30px;
    text-decoration: none;
    color: aliceblue;
    
}